<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
          
          <form name="form" [formGroup]="form" (ngSubmit)="form.valid && onSubmit()">
            <div class="form-group">
              <label for="Name">Name</label>
              <input type="text"  class="form-control" formControlName="Name" [(ngModel)]="empName" [ngClass]="{'is-invalid':form.get('Name').touched && form.get('Name').invalid}" required />
              <div class="invalid-feedback" *ngIf="form.get('Name').touched && form.get('Name').invalid">
                <div>Employee Name is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="designation">Designation</label>
              <input type="text" class="form-control" formControlName="designation" [(ngModel)]="empDesignation" [ngClass]="{'is-invalid':form.get('designation').touched && form.get('designation').invalid}" required />
              <div class="invalid-feedback" *ngIf="form.get('Name').touched && form.get('Name').invalid">
                <div>Designation is required</div>
              </div>
            </div>
            <div class="form-group">
                <label for="Salary">salary</label>
                <input type="text" class="form-control" formControlName="salary" [(ngModel)]="empSalary" [ngClass]="{'is-invalid':form.get('salary').touched && form.get('salary').invalid}" required />
                <div class="invalid-feedback" *ngIf="form.get('Name').touched && form.get('Name').invalid">
                  <div>salary is required</div>
                </div>
              </div>            
             
              
            <div class="form-group">
              <button class="btn btn-primary" *ngIf="!allowEdit" [disabled]="!form.valid">Save</button>
              <button class="btn btn-primary" *ngIf="!allowEdit" style="margin-left:5px" (click)="onCancelEmployee()">Cancel</button>
              
              <button class="btn btn-primary" *ngIf="allowEdit" (click)="onUpdateEmployee()" [disabled]="!form.valid">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>